<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Let's Exchange</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/Highlight-Clean.css">
    <link rel="stylesheet" href="/static/css/stylesheet.css">

        <script>
        jQuery(document).ready(function($) {
            $('.counter').counterUp({
                delay: 10,
                time: 1000
            });
        });
    </script>
</head>

<body>
    <header id="header" class="anchor">
        <nav class="navbar navbar-light navbar-expand-lg fixed-top">
            <div class="container"><a class="navbar-brand" href="/">Vim Exchange Ltd</a><button data-toggle="collapse" class="navbar-toggler collapsed" data-target="#navcol-1"><span></span><span></span><span></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/user">Your Profile</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" role="group"></div>
    </nav>

    <div class="highlight">
        <div class="container">
            <div class="intro">
                <h1 class="text-center">Exchange Your Vim.</h1>
                <p class="text-center">What'ya waiting for? <strong>Type "Exchange" into the input box below</strong> to exchange your Vim.</p>
            </div>
            <div class="buttons"></div>
        </div>
        <h5 class="text-center">Join <b><span class="counter">1337</b></span> others today!</h5>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <form action="{{ url_for('vimform') }}" method="post">
                            <div class="input-group-prepend"><span class="input-group-text"></span></div><input class="form-control" type="text" name="exchange" id="exchange">
                            <div class="input-group-append"><input class="btn btn-primary" type="submit" value="Submit">Go!</div>


                            <div class="input-group-prepend"><span class="input-group-text"</span></div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
</body>

</html>