<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Vim Exchange Ltd</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/stylesheet.css">

</head>

<body>
    <div>
        <header id="header" class="anchor">
            <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white transparency">
                <div class="container"><a class="navbar-brand" href="#header">Vim Exchange Ltd</a><button data-toggle="collapse" class="navbar-toggler collapsed" data-target="#navcol-1"><span></span><span></span><span></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" role="presentation"><a class="nav-link" href="/register"><b>Join Us</b></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#misson-statement">Our Mission Statement</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#reviews">Reviews</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#contact">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" role="group"></div>
                </div>
            </nav>
            </header>
    </div>
            <div class="d-flex align-items-center" style="height: 100vh; background-image: url('/static/img/websitebg.jpg'); background-position: center;">
                <div class="text-center w-100 text-white">
                    <h1>Exchange your Vim</h1>
                    <h4 class="font-weight-normal">Welcome to the modern world.</h4>
                    <button class="btn btn-group inline pull-left btn-outline-success" onclick="location.href='/register'" type="button">Exchange Today</button>
                    <button class="btn btn-group inline pull-left btn-outline-primary" onclick="location.href='/login'" type="button">Login</button>
                </div>
            </div>
        <section id="misson-statement" class="anchor py-5">
            <div class="container">
                <h1 class="display-4 text-center">Mission Statement</h1>
                <p class="text-center">If you understand <code>:qw!</code>, Vim Exchange Ltd is here for you. Established in 2020, Vim Exchange Ltd is built to show developers what real productivity looks like. Vim is so 1991. Don't be hardstuck, exchange your Vim today.<br><br>Modernising
                    a developer near you - one <code>Ctrl + S</code> at a time.</p>
            </div>
        </section>
        <section id="reviews" class="anchor py-5">
    </div>
    <div class="reviews">
        <div class="container">
            <div class="intro">
            <br/>
            <br/>
                <h1 class="display-4 text-center">Vim Exchangers!</h1>
                <p class="text-center">These people made the exchange and so can you!</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">CeX</h3>
                        <p class="title">The second hand goods retailer</p>
                        <p class="description">We'll give you 60p for it as it's scratched.</p>
                    </div>
                    <div class="box">
                        <h3 class="name">Paradox</h3>
                        <p class="title">Shibe Enthusiast</p>
                        <p class="description">Thanks to Nano, I can look at all the Shibes! <img src="/static/img/cooctus.png" height="32px" width="32px"></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 text-center item">
                    <div class="box">
                        <h3 class="name">MuirlandOracle<br></h3>
                        <p class="title">Contributor<br></p>
                        <p class="description">I never thought that exchanging my copy of Vim would be so rewarding! Though, there's probably a way to do this with Socat.<br></p>
                    </div>
                    <div class="box">
                        <h3 class="name">Ma1ware<br></h3>
                        <p class="title">Empire&nbsp; extraordinaire<br></p>
                        <p class="description">Hey, the Death Star wasn't built in INSERT mode.<br></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">Chevalier<br></h3>
                        <p class="title">Chad Honcho<br></p>
                        <p class="description">You wouldn't catch me using Vim that's for sure.<br></p>
                    </div>
                 </div>
        </div>
    </div>
    </section>
<section id="contact" class="anchor py-5">
    <div class="contact-form">
        <form method="post">
            <h2 class="text-center">Contact us</h2>
            <div class="form-row">
                <div class="col"><p>Vim exchange Ltd welcomes all feedback. Where it ends up? No idea!</p></div>
            </div>
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">Send!</button></div>
        </form>
    </div>
</section>
    <div class="footer">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Get with it, ditch Vim today.</a></li>
            </ul>
            <p class="copyright">Vim Exchange Ltd © 2020</p>
        </footer>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/page.js"></script>
</body>

</html>